@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

body {
				font-family: 'Fredoka', sans-serif;
				max-width: 600px;
				margin: 0 auto;
}

/* Kana Table Grid */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  font-weight: bold;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Main Page CSS */
header {
				padding: 5px;
}
header .title {
				font-size: 25px;
				vertical-align: middle;
}
header img {
				width: 50px;
				vertical-align: middle;
}

.CatTitle {
				font-size: 25px;
				padding: 10px;
				border-bottom: 2px solid black;
				margin: 5px;
}
.heroCover {
				width: 100%;
				text-align: center;
}
.buttonCover {
	text-align: center;
}

.Button {
  width: 90%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;  
}

.ButtonBlue {
  background-color: white;
  color: black;
  border: 2px solid #0080f0;
}

.ButtonBlue:hover {
  background-color: #0080f0;
  color: white;
}
.moreBlogsCover {
				text-align: right;
				margin-right: 10px;
}
.moreBlogs {
				border: none;
				padding: 5px;
			 font-size: 20px;
			 font-family: 'Fredoka', sans-serif;
			 margin: 10px;
			 background-color: #0080f0;
			 color: white;
			 border-radius: 2px;
}

footer {
				background-color: #f0f0f0;
				color: black;
				text-align: center;
				padding: 20px;
				font-size: 20px;
}
