@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

body {
font-family: 'Fredoka', sans-serif;

margin: 0 auto;
-webkit-text-size-adjust: 100%;
}

main {
				padding: 10px;
}

/* Kana Table Grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  font-weight: bold;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #0080f0;
  padding: 10px;
  font-weight: bold;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}

.grid-item span {
				font-size: 0.5em;
				font-family: 'Fredoka', sans-serif;
				display: block;
				font-weight: normal;
}

/* Kanji Table */
.kanji-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: lightblue;
  margin: 10px;
  font-weight: bold;
  color: #000000;
}

.kanji-item {
  border: 1px solid #000000;
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
}

.kanji-item span {
				font-size: 0.5em;
				font-family: 'Fredoka', sans-serif;
				display: block;
				font-weight: normal;
}

/* Main Page CSS */
header {
				padding: 5px;
}
header .title {
				font-size: 25px;
				vertical-align: middle;
}
header img {
				width: 50px;
				vertical-align: middle;
}

nav {
				padding: 5px;
				border-bottom: 3px solid black;
}

nav a {
				color: black;
				background-color: #f0f0f0;
				text-decoration: none;
				font-size: 1.1em;
				padding: 5px 5px 5px 5px;
}

nav .active {
				background-color: black;
				color: white;
}

.CatTitle {
background-color:#f0f0f0;
text-align:center;
font-size:25px;
font-weight:bold;
margin-top:10px;
padding:10px;
}
.heroCover {
				width: 100%;
				text-align: center;
}
.buttonCover {
	text-align: center;
}

.Button {
  width: 90%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;  
}

.ButtonBlue {
  background-color: white;
  color: black;
  border: 2px solid #0080f0;
}

.ButtonBlue:hover {
  background-color: #0080f0;
  color: white;
}

.getlessons {
      background-color: black;
      color: black;
      font-size: 25px;
				text-align: center;
				width: 70%;
				padding: 10px;
				border-radius: 10px;
				border: 5px solid tomato;
				margin: 0 auto;
}

.getlessons:hover {
				background-color: tomato;
				color: white;
}

hr {
				background-color: #eeeeee;
				border: none;
				height: 1px;
}

.articles ul {
				list-style-type: none;
				padding: 0px;				
}
.articles li {
      background-color: black;
				font-size: 1.2em;
				padding: 15px;
				margin: 10px;
				color: #ffffff;
				box-shadow: 3px 3px lightblue;
}

.articles li:hover {
				background-color: #0080f0;
}

.moreBlogsCover {
				text-align: right;
				margin-right: 10px;
}
.moreBlogs {
				border: none;
				padding: 5px;
			 font-size: 1.3em;
			 font-family: 'Fredoka', sans-serif;
			 margin: 0px 5px 10px 10px;
			 background-color: black;
			 color: white;
			 border-radius: 2px;
			 box-shadow: 3px 3px lightblue;
}

.moreBlogs:hover {
				background-color: #0080f0;
}

footer {
				background-color: #f0f0f0;
				color: black;
				text-align: center;
				padding: 20px;
				font-size: 20px;
}

footer ul {
      list-style-type: none;
      padding: 0px;
}

footer li {
				display: inline;
				font-size: 18px;
}

footer li a {
				text-decoration: none;
				color: #0080f0;
}

/* More */

.PrintLink {
     background-color: #f0f0f0;
				width: 150px;
				margin: 5px;
				border-radius: 4px;
}

/* Breadcrumbs */

ul.breadcrumb {
  padding: 10px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 1em;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Vocabulary Table */

#vocablist {
  border-collapse: collapse;
  width: 100%;
}

#vocablist td, #vocablist th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#vocablist th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0080f0;
  color: white;
}

/* Text over Image */
.container {
  position: relative;
  text-align: center;
  color: white;
  padding: 0px 8px 8px 8px;
}

.container img {
	border-radius: 5px;
	width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 16px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  font-size: 1.3em;
  border-radius: 5px;
}

@media screen and (min-width: 450px) {
				.bottom-left {
								font-size: 1.7em;
				}
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
